{% extends 'main.html' %} 
{% load static %} 
{% load crispy_forms_tags %}
{% block header %}  {% include "matter_form_headercss_extension.html" %}
    <!--  END CUSTOM STYLE FILE  -->

{% endblock header %} 

{% block content %}
<!----- cut off ---->
<!-- <div class="layout-px-spacing"> -->

<div class="page-header">
    <nav class="breadcrumb-one" aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item" aria-current="page"><a href="{% url 'matter' %}"><span>Matter</span></a></li>
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-chevron-right"><polyline points="9 18 15 12 9 6"></polyline></svg>
            <li class="breadcrumb-item" aria-current="page"><a href="#"><span>New Matter</span></a></li>
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-chevron-right"><polyline points="9 18 15 12 9 6"></polyline></svg>
            <li class="breadcrumb-item active" aria-current="page"><span>Conflict Information</span></li>
        </ol>
    </nav>
</div>


<div class="row">
    <div class="col-lg-3">
        <div class="card shadow mb-4-old">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">Steps</h6>
            </div>
            <div class="card-body">
                <div class="steps clearfix">
                    <span class="btn btn-block btn-secondary text-left"><span class="number">1. </span> Client Contact</span>
                    <span class="btn btn-block btn-secondary text-left"><span class="number">2. </span> Matter Information</span>
                    <span class="btn btn-block btn-secondary active text-left"><span class="number">3. </span> Conflict Information</span>
                    <span class="btn btn-block btn-secondary text-left"><span class="number">4. </span> Fact & Documents</span>
                    <span class="btn btn-block btn-secondary text-left"><span class="number">5. </span> Nature of Claim</span>
                </div>
            </div>
        </div>    
    </div>

    <div class="col-lg-9">
        <div class="card shadow mb-4-old">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">Matter Information</h6>
            </div>
            <form class="" action="" method="POST">
                {% csrf_token %}
               
                <div class="card-body">    

                    <div class="row">
                        <!-- <form id="" class=""> -->
                            <div class="col-md-12 mx-auto">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <label for="address">File Number</label>
                                            <input type="text" class="form-control mb-4-old" name="file_no" id="address" value="{{request.session.file_no}}" readonly>
                                        </div>
                                    </div>

                                    <div class="col-md-12 mb-3">
                                        <h6> Other Parties Associated with the Client with their relation. If Contact is not found, add new </h6>
                                        <div class="fieldgroup" id="other_parties">
                                            <div class="row">
                                                <div class="col-md-4">
                                                    {{form1.other_party_relationship|as_crispy_field}}
                                                </div>
                                                <div class="col-md-4">
                                                    {{form1.other_party|as_crispy_field}}
                                                </div>
                                                <div class="col-md-2">
                                                    <label for="address">If not found?</label><br/>
                                                    <button id="btn-add-notes" name="new_contact[]" class="btn btn-dark btn-sm new_contact" href="#"><i class="fas far fa-edit text-gray-200"></i> Add Contact</button>
                                                </div>
                                                <div class="col-md-2">
                                                    <label for="address">Add</label><br/>
                                                    <button type="button" name="addOtherParties" id="addOtherParties" class="btn btn-dark btn-sm"><i class="fas fa-plus-circle text-gray-200"></i> Add More</button>
                                                </div>
                                            </div>                                            
                                        </div>

                                    </div>

                                    <br/>
                                    <div class="col-md-12 mb-3">
                                        <h6> Adverse Parties Associated with the Client with their relation. </h6>
                                            <div class="fieldgroup" id="adverse_parties">
                                                <div class="row">
                                                    <div class="col-md-8">
                                                        {{form2.adverse_party|as_crispy_field}}
                                                    </div>
                                                    <div class="col-md-2">
                                                        <label for="address">If not found?</label><br/>
                                                        <button id="btn-add-notes"  name="new_contact[]"  class="btn btn-dark btn-sm new_contact[]"  href="#">                                   
                                                            <i class="fas far fa-edit text-gray-200"></i> Add Contact</button>
                                                    </div>
                                                    <div class="col-md-2">
                                                        <label for="address">Add</label><br/>
                                                        <button type="button"  name="addAdverseParties"  id="addAdverseParties"  class="btn btn-dark btn-sm"><i class="fas fa-plus-circle text-gray-200"></i> Add More</button>
                                                    </div>
                                                </div>                                            
                                            </div>
                                    </div>    
                                    <br/>
                                    <div class="col-md-12">
                                        <h6>Names Associated with other Files for this Client:  </h6>                                        
                                        <div class="fieldgroup" id="other_files">
                                            <div class="row mb-3">
                                                <div class="col-md-8">
                                                    {{form3.associated_other_files|as_crispy_field}}
                                                </div>
                                                <div class="col-md-4">
                                                    <label for="address">Add</label><br/>
                                                    <button type="button"  name="add"  id="addOtherFiles"  class="btn btn-dark btn-sm"><i class="fas fa-plus-circle text-gray-200"></i> Add More</button>
                                                </div>
                                            </div>                                            
                                        </div>


                                    </div> 
                                </div>
                            </div>
                        <!-- </form> -->
                    </div>



                </div>
                {{ form.errors }}

                <br/>
                <!-- </div> -->
                <div class="card-footer">
                    <div class="row">                    
                        <div class="col-lg-6">
                            <input type="submit" id="" class="btn btn-block btn-secondary" value="Save & Continue..." />
                        </div>            
                        <div class="col-lg-6">                
                            <a id="multiple-messages" href="{% url 'matter' %}" class="btn btn-block btn-warning text-black">Cancel All Information</a>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>


</div>







{% endblock content %} 


{% block footerjs %}
<!-- ENDS SCRIPTS -->

{% include  "matter_form_footercss_extension.html" %}


<script type="text/javascript">
    $(document).ready(function(){

                
        $("#addOtherParties").click(function(){
            i++;
            // var gg = '<td><select class="placeholder js-states form-control" name="ad_parties[]><option>Choose...</option><option value="one">First</option><option value="two">Second</option><option value="three">Third</option><option value="four">Fourth</option><option value="five">Fifth</option></select></td><td><button id="btn-add-notes" name="new_contact[]" class="btn btn-dark form-control new_contact" href="#"><i class="fas far fa-edit text-gray-200"></i> Add Contact</button></td><td><button type="button" name="remove" id="'+i+'" class="btn btn-danger btn_remove">X</button></td></tr>';            
            // var gg = '<td>'+ 2  +'</td></tr>';
                $.ajax({
                    type: "GET",
                    url: "{% url 'person-list' %}",                
                    datatype: 'json',
                    dataSrc: "",
                    
                    success:function(response) {
                        var result_str = '<div class="col-md-4"><input type="text" class="form-control" name="relationship[]" placeholder="" /></div>';
                         result_str += '<div class="col-md-4"><select class="placeholder js-states packer form-control" name="other_party[]>';
                        result_str += '<option value="">Selection...</option>';
                        for(i = 0; i < response.length; i++){
                            result_str += '<option value="'+response[i]['pk']+'">'+ response[i]['fields']['firstName'] +' '+ response[i]['fields']['familyName']+'</option>';
                            // console.log(result_str);
                        }
                        $('.packer').addClass("form-control");
                        $('#other_parties').append('<div class="row mb-2" id="row'+i+'">'+ result_str + '</select></div><div class="col-md-2"><button id="btn-add-notes" name="new_contact[]" class="btn btn-dark btn-sm form-control new_contact" href="#"><i class="fas far fa-edit text-gray-200"></i> Add Contact</button></div><div class="col-md-2"><button type="button" name="remove" id="'+i+'" class="btn btn-danger btn_remove">X</button></div></div>');
                    },
                    onerror:function(){
                        $('#process').html('... error loading...');
                        }
                });

        });


        $("#addAdverseParties").click(function(){
            i++;
            // var gg = '<td><select class="placeholder js-states form-control" name="ad_parties[]><option>Choose...</option><option value="one">First</option><option value="two">Second</option><option value="three">Third</option><option value="four">Fourth</option><option value="five">Fifth</option></select></td><td><button id="btn-add-notes" name="new_contact[]" class="btn btn-dark form-control new_contact" href="#"><i class="fas far fa-edit text-gray-200"></i> Add Contact</button></td><td><button type="button" name="remove" id="'+i+'" class="btn btn-danger btn_remove">X</button></td></tr>';            
            // var gg = '<td>'+ 2  +'</td></tr>';
                $.ajax({
                    type: "GET",
                    url: "{% url 'person-list' %}",                
                    datatype: 'json',
                    dataSrc: "",
                    
                    success:function(response) {
                        var result_str1 = '<div class="col-md-8"><select class="placeholder js-states packer form-control" name="adverse_party[]>';
                        result_str1 += '<option value="">Selection...</option>';
                        for(i = 0; i < response.length; i++){
                            result_str1 += '<option value="'+response[i]['pk']+'">'+ response[i]['fields']['firstName'] +' '+ response[i]['fields']['familyName']+'</option>';
                            // console.log(result_str);
                        }
                        // $('.packer').addClass("form-control");
                        $('#adverse_parties').append('<div class="row mb-2" id="row'+i+'">'+ result_str1 + '</select></div><div class="col-md-2"><button id="btn-add-notes" name="new_contact[]" class="btn btn-dark btn-sm form-control new_contact" href="#"><i class="fas far fa-edit text-gray-200"></i> Add Contact</button></div><div class="col-md-2"><button type="button" name="remove" id="'+i+'" class="btn btn-danger btn_remove">X</button></div></div>');
                    },
                    onerror:function(){
                        $('#process').html('... error loading...');
                        }
                });

        });
        var i=0;
        $("#addOtherFiles").click(function(){
            i++;
            var gg = '<div class="col-md-6"><button type="button" name="remove" id="'+i+'" class="btn btn-danger btn_remove">X</button></div></div>';            
            $('#other_files').append('<div class="row mb-2" id="row'+i+'"><div class="col-md-6"><input type="text" class="form-control" name="relationship[]" placeholder="" /></div>'+ gg );

        });


        $(document).on('click', '.btn_remove', function(){  
            var button_id = $(this).attr("id");   
            $('#row'+button_id+'').remove();  
        });


        $(".placeholder").select2({
            placeholder: "Make a Selection",
            allowClear: true
        });


        
       
    });



</script>





  {% endblock footerjs %}