{% extends 'main.html' %} 
{% load i18n static %}

    {% block header %}

    {% include "header_plugins_extension.html" %}        
    
        
    {% endblock header %} 
    
    {% block content %}

    
        <div class="page-breadcrumb">
            <div class="row">
                <div class="col-12 d-flex no-block align-items-center">
                    <h4 class="page-title">Matter</h4>
                    <div class="m-l-10">
                        <a id="btn-add-notes" class="btn btn-secondary btn-sm" href="{% url 'matter-info' %}">
                        <i class="fas fa-plus-circle">
                        </i> New Matter</a>
                    </div>
                    <div class="ms-auto text-end">
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="#">Matter</a></li>
                                <li class="breadcrumb-item active" aria-current="page">
                                    Matter
                                </li>
                            </ol>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
        <!-- ============================================================== -->
        <!-- End Bread crumb and right sidebar toggle -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- Container fluid  -->
        <!-- ============================================================== -->
        <div class="container-fluid">

            <div class="card shadow mb-4">
                <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-primary">Matters</h6>
                </div>
                <div class="card-body">
                    <div class="p-20">
                        <div class="table-responsive">
                            <div class="row">
                                <div class="col-sm-12 text-center loader">
                                    <img class="loading" src="../media/loading.svg" style="width:7%;" alt="">
                                </div>
                            </div>
                            <table id="matterDatatable" class="table table-striped nowrap matterDatatable" style="width:100%" cellspacing="0">
                                <thead>
                                    <th>File No</th>
                                    <th>Case/Suit No</th>
                                    <th>Title</th>
                                    <th>Client</th>
                                    <th>Created</th>
                                    <th>Update</th>
                                    <th>Action</th>
                                </thead>
                                <tbody>

            
                                </tbody>
                            
                            </table>
                        </div>                        
                    </div>
                </div>
            </div>
            



        </div>

        <div class="modal fade" id="RemoveMatter" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">                
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Remove Matter Record?</h5>
                        <button class="close" type="button" data-bs-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">×</span>
                        </button>
                    </div>
                    <form class="formRemoveRec" id="formRemoveRec" method="POST" action="">
                        {% csrf_token %}
                        <div class="modal-body ">                            
                            <div class="card-body col-12"> 
                                <p>Are you sure you want to delete this Matter Record?</p>         
                                <div>File No: <span id="file_no"></span></div>
                                <div>Case/Suit No: <span id="claim_no"></span></div>
                                <div>Client Name: <span id="client_name"></span></div>

                            </div>                                                  
                        </div>
                    <div class="modal-footer">
                        <button class="btn btn-secondary" type="button" data-bs-dismiss="modal">Cancel</button>
                        <!-- <a class="btn btn-danger" href="#">Remove!</a> --->
                        <button class="btn btn-danger" id="btn-Remove-Matter" type="button" data-bs-dismiss="modal">Yes Remove!</button>
                        <!--<input class="btn btn--main" type="submit" value="Confirm" />--->
                    </div>
                </form>
                </div>
            </div>
        </div>



    {% endblock content %} 



    {% block footerjs %}

    {% include "footer_plugins_extension.html" %}

    <!-- this page js -->
    <script src="{% static 'js/matter/matter_data_table.js' %}"></script>
<script>
    $(document).ready(function() {

        
        $('#RemoveMatter').on('shown.bs.modal', function(e) {  
            var reference_tag = $(e.relatedTarget); 
            var file_no = reference_tag.data('id');
            //   var usid = <?php echo $usid; ?>; 
            console.log(file_no) ; 
            $.ajax({
                type: "GET",
                url: "/api/matters/"+ file_no,
                // data: {rec_id: fsid},
                datatype: 'json',
                dataSrc: "",

                success:function(response) {
                    // console.log(response);
                    $('#client_name').html(`${response['client_contact']}`);
                    $('#file_no').html(`${response['file_no']}`);
                    $('#claim_no').html(`${response['claim_no']}`);
                },
                onerror:function(){
                    $('#process').html('... error loading...');
                }
            });
        });


        $('#btn-Remove-Matter').click(function(e){ 
            let file_no = $('#file_no').html();
            let csrfmiddlewaretoken = $('input[name="csrfmiddlewaretoken"]').val();
            // alert(dkey)                                
            let form = $('#formRemoveRec')[0];
            let formdata = new FormData(form);
            // console.log(csrfmiddlewaretoken);
            // $("#formRemoveRec").submit();
            $.ajax({
                type: "POST",
                // data: formData,
                url: "{% url 'delete-matter-records' %}",
                data: {
                    file_no: file_no,
                    csrfmiddlewaretoken: csrfmiddlewaretoken,
                },                        
                datatype: 'json',
                dataSrc: "",

                success:function(response) {
                    // console.log(response[0]['fields']);
                    console.log(response);
                    tryc("success", "Success: Matter record removed !");

                    // fill_table(usid);                             
                    // $('#removeBody').html(''); 
                    // window.location.href="{% url 'person-contact' %}";
                    dataTable.ajax.reload(null, false ); // user paging is not reset on reload
                    // $('#matterDatatable').DataTable().destroy();
                    // fill_person_contact_table();                               
                },
                onerror:function(){
                    $('#process').html('... error loading...');
                }
            })

        }); 


        $(document).ajaxStart(function(){
            $(".loading").css("display", "block");
        });
    
        $(document).ajaxComplete(function(){
            $(".loading").css("display", "none");
        });



    });
</script>

    {% endblock footerjs %}
