{% extends 'main.html' %} 
{% load static %} 
{% load crispy_forms_tags %}
{% block header %}  {% include "matter_form_headercss_extension.html" %}
    <!--  END CUSTOM STYLE FILE  -->

{% endblock header %} 

{% block content %}
<!----- cut off ---->
<!-- <div class="layout-px-spacing"> -->

    <div class="page-breadcrumb">
        <div class="row">
            <div class="col-12 d-flex no-block align-items-center">
                <h4 class="page-title">Update Matter</h4>
                <div class="ms-auto text-end">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="#">Nature</a></li>
                            <li class="breadcrumb-item active" aria-current="page">
                                Civil
                            </li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </div>

    <div class="container-fluid">

        <div class="row">

            
            <div class="col-md-3">
                <div class="card">
                    <div class="card-header py-3">
                        <h6 class="m-0 font-weight-bold text-primary">Steps</h6>
                    </div>
                    <div class="card-body-old">
    
                        <ul class="list-style-none">
                            <li class="d-flex no-block card-body" style="padding:0.5rem;">
                            <i class="far fa-stop-circle fs-4 w-30px"></i>
                            <div>
                                <a href="#" class="mb-0 font-medium p-0">Matter Information</a>
                            </div>
                            </li>
                            <li class="d-flex no-block card-body border-top" style="padding:0.5rem;">
                            <i class="far fa-stop-circle fs-4 w-30px"></i>
                            <div>
                                <a href="#" class="mb-0 font-medium p-0">Matter Attorney</a>
                            </div>
                            </li>
                            <li class="d-flex no-block card-body border-top" style="padding:0.5rem;">
                                <i class="far fa-stop-circle fs-4 w-30px"></i>
                                <div>
                                <a href="#" class="mb-0 font-medium p-0">Conflict Info (Co-parties)</a>
                                </div>
                            </li>
                            <li class="d-flex no-block card-body border-top" style="padding:0.5rem;">
                                <i class="far fa-stop-circle fs-4 w-30px"></i>
                                <div>
                                <a href="#" class="mb-0 font-medium p-0">Conflict Info (Adverse Party)</a>
                                </div>
                            </li>
    
                            <li class="d-flex no-block card-body border-top" style="padding:0.5rem;">
                                <i class="far fa-stop-circle fs-4 w-30px"></i>
                                <div>
                                <a href="#" class="mb-0 font-medium p-0">Conflict Info (Other Name)</a>
                                </div>
                            </li>
    
                            <li class="d-flex no-block card-body border-top" style="padding:0.5rem;">
                                <i class="far fa-stop-circle fs-4 w-30px"></i>
                                <div>
                                <a href="#" class="mb-0 font-medium p-0">Fact & Documents</a>
                                </div>
                            </li>
    
                            <li class="d-flex no-block card-body border-top" style="background: rgb(243, 242, 242); padding:0.5rem;">
                                <i class="far fa-play-circle fs-4 w-30px"></i>
                                <div>
                                <a href="#" class="mb-0 font-medium p-0">Nature of Claim (Civil)</a>
                                </div>
                            </li>
    
                            <li class="d-flex no-block card-body border-top" style="padding:0.5rem;">
                                <i class="far fa-stop-circle fs-4 w-30px"></i>
                                <div>
                                <a href="#" class="mb-0 font-medium p-0">Nature of Claim (Criminal}</a>
                                </div>
                            </li>
    
                            <li class="d-flex no-block card-body border-top" style="padding:0.5rem;">
                                <i class="far fa-stop-circle fs-4 w-30px"></i>
                                <div>
                                <a href="#" class="mb-0 font-medium p-0">Description</a>
                                </div>
                            </li>
    
                        </ul>
                    </div>
    
                </div>
            </div>

            <div class="col-lg-9">
                <div class="card shadow mb-4-old">
                    <div class="card-header py-3">
                        <h6 class="m-0 font-weight-bold text-primary">Civil Nature</h6>
                    </div>
                    <form class="" action="" method="POST">
                        {% csrf_token %}
                       
                        <div class="card-body">    
        
                            <div class="row">
                                <!-- <form id="" class=""> -->
                                    <div class="col-md-12 mx-auto">
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="form-group">
                                                    <label for="address">File Number</label>
                                                    <input type="text" class="form-control mb-4-old" name="file_no" id="file_no" value="{{request.session.file_no}}" readonly>
                                                </div>
                        
                                            </div>
        
                                            <br/>
          
                                        </div>
        
                                        <h5>Subject Matter</h5>
                                        <br/>
        
                                        <div class="row">
                                            <div class="col-6 col-lg-6 col-md-6 col-sm-12">  
                                                <div class="form-group">
                                                    <!-- <h6><strong>Civil Matters</strong></h6> -->
                                                    <div class="widget-content widget-content-area">
                                                        {{form.cases|as_crispy_field}}
        
                                                    </div>                                         
                                                </div>                                                                   
                                            </div> 
        
                                        </div>          
                                        
        
                             
        
        
           <!--                            
                                        <label for="matter_description">Matter Description</label>
                                        <textarea name="matter_description" class="form-control" id="matter_description" cols="" rows="3"></textarea> -->
        
                                        <!-- <label for="email">Subject Matter</label>
                                        <select id="mattertype" class="form-control mb-4-old" data-live-search="true">
                                            <option>Select matter type</option>
                                            <option name="civil" value="civil">Civil</option>
                                            <option name="criminal" value="criminal">Criminal</option>                                                               
                                        </select>  
                                        <div class="row">
                                            <div class="col-md-12">  
                                        
                                                <div id="civildisplay" >
                                                    <h6> Select Civil Matters, as many as possible</h6>
                                                    <div class="row">                                                                         
                                                        <div class="col-md-4"> 
                                                            <div class="widget-content widget-content-area">
                                                                <div class="n-chk">
                                                                    <label class="new-control new-checkbox checkbox-dark">
                                                                        <input type="checkbox" class="new-control-input">
                                                                        <span class="new-control-indicator"></span>Custody disputes
                                                                    </label>
                                                                </div>
                    
                                                                <div class="n-chk">
                                                                    <label class="new-control new-checkbox checkbox-dark">
                                                                        <input type="checkbox" class="new-control-input">
                                                                        <span class="new-control-indicator"></span>Breach of contract
                                                                    </label>
                                                                </div>                
                                                            </div>
                                                        </div>
                                                        <div class="col-md-4"> 
                                                            <div class="widget-content widget-content-area">
                                                                <div class="n-chk">
                                                                    <label class="new-control new-checkbox checkbox-dark">
                                                                        <input type="checkbox" class="new-control-input">
                                                                        <span class="new-control-indicator"></span>Bankruptcy
                                                                    </label>
                                                                </div>
                    
                                                                <div class="n-chk">
                                                                    <label class="new-control new-checkbox checkbox-dark">
                                                                        <input type="checkbox" class="new-control-input">
                                                                        <span class="new-control-indicator"></span>Property damage
                                                                    </label>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-4"> 
                                                            <div class="widget-content widget-content-area">
                                                                    <div class="n-chk">
                                                                        <label class="new-control new-checkbox checkbox-dark">
                                                                            <input type="checkbox" class="new-control-input">
                                                                            <span class="new-control-indicator"></span>Defamation
                                                                        </label>
                                                                    </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                        
                                                <div id="criminaldisplay" >
                                                    <h6 style="display:block !important;"> Select Criminal Matters, as many as possible</h6>
                                                        <div class="row"> 
                                                                <div class="col-md-4"> 
                                                                    <div class="widget-content widget-content-area">
                                                                        <div class="n-chk">
                                                                            <label class="new-control new-checkbox checkbox-dark">
                                                                                <input type="checkbox" class="new-control-input">
                                                                                <span class="new-control-indicator"></span>Homicide
                                                                            </label>
                                                                        </div>
                        
                                                                        <div class="n-chk">
                                                                            <label class="new-control new-checkbox checkbox-dark">
                                                                                <input type="checkbox" class="new-control-input">
                                                                                <span class="new-control-indicator"></span>Conspiracy
                                                                            </label>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            <div class="col-md-4"> 
                                                                <div class="widget-content widget-content-area">
                                                                        <div class="n-chk">
                                                                            <label class="new-control new-checkbox checkbox-dark">
                                                                                <input type="checkbox" class="new-control-input">
                                                                                <span class="new-control-indicator"></span>Obstruction of justice
                                                                            </label>
                                                                        </div>
                        
                                                                        <div class="n-chk">
                                                                            <label class="new-control new-checkbox checkbox-dark">
                                                                                <input type="checkbox" class="new-control-input">
                                                                                <span class="new-control-indicator"></span>Possession of a controlled substance
                                                                            </label>
                                                                        </div>
                                                                </div>
                                                            </div>
                                                            <div class="col-md-4"> 
                                                                <div class="widget-content widget-content-area">
                                                                        <div class="n-chk">
                                                                            <label class="new-control new-checkbox checkbox-dark">
                                                                                <input type="checkbox" class="new-control-input">
                                                                                <span class="new-control-indicator"></span>Assault
                                                                            </label>
                                                                        </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                </div>                                        
                                            
                                            </div>
                                        </div> -->
        
        
        
                                    </div>
                                <!-- </form> -->
                            </div>
                        </div>
                        {{ form.errors }}
        
                        <!-- <br/> -->
                        <!-- </div> -->
                        <div class="card-footer">
                            <div class="row">                    
                                <div class="col-lg-6">
                                    <input type="submit" id="" class="btn btn-block btn-secondary" value="Continue..." />
                                </div>            
                                <div class="col-lg-6">                
                                    <a id="multiple-messages" href="{% url 'matter' %}" class="btn btn-block btn-warning text-black">Cancel All Information</a>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>

        </div>

    </div>





{% endblock content %} 


{% block footerjs %}
<!-- ENDS SCRIPTS -->

<!----- cut off ---->
{% include  "matter_form_footercss_extension.html" %}


<script type="text/javascript">
    $(document).ready(function(){
        var file_no = $('#file_no').val();
        console.log(file_no);

        $(function() {
            $('#civildisplay').hide(); 
            $('#criminaldisplay').hide();
            $('#mattertype').change(function(){
                if($('#mattertype').val() == 'civil') {
                    $('#civildisplay').show(); 
                    $('#criminaldisplay').hide();
                } else if($('#mattertype').val() == 'criminal'){
                    $('#civildisplay').hide(); 
                    $('#criminaldisplay').show(); 
                }else{
                    $('#civildisplay').hide(); 
                    $('#criminaldisplay').hide();
                } 
            });
        });



        // $('#nextPage').click(function(e){ 
        //     var file_no = $('#file_no').val();
        //     // console.log(file_no);
        //     window.location.href= '/matter/update-matter-description/'+file_no;
        // }); 

        
       
    });



</script>





  {% endblock footerjs %}