    <!-- Custom CSS -->
    {% load static %} 
    <link
      rel="stylesheet"
      type="text/css"
      href="{% static 'assets/libs/select2/dist/css/select2.min.css' %}"
    />
    <!-- <link
      rel="stylesheet"
      type="text/css"
      href="{% static 'assets/libs/jquery-minicolors/jquery.minicolors.css' %}"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="{% static 'assets/libs/bootstrap-datepicker/dist/css/bootstrap-datepicker.min.css' %}"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="{% static 'assets/libs/quill/dist/quill.snow.css' %}"
    /> -->
