<li class="nav-item dropdown">
    <a
      class="nav-link dropdown-toggle waves-effect waves-dark"
      href="#"
      id="2"
      role="button"
      data-bs-toggle="dropdown"
      aria-expanded="false"
    >
      <i class="font-24 mdi mdi-comment-processing"></i>
      
    </a>
    <ul
      class="
        dropdown-menu dropdown-menu-end
        mailbox
        animated
        bounceInDown
      "
      aria-labelledby="2"
    >
      <ul class="list-style-none">
        <li>
          <div class="">
            <!-- Message -->
            <a href="javascript:void(0)" class="link border-top">
              <div class="d-flex no-block align-items-center p-10">
                <span
                  class="
                    btn btn-success btn-circle
                    d-flex
                    align-items-center
                    justify-content-center
                  "
                  ><i class="mdi mdi-calendar text-white fs-4"></i
                ></span>
                <div class="ms-2">
                  <h5 class="mb-0">Event today</h5>
                  <span class="mail-desc">Just a reminder that event </span>                                    
                </div>
                <span class="badge badge-sm badge-ghost">unread</span>
              </div>
            </a>
            
            <!-- Message -->
            <a href="javascript:void(0)" class="link border-top">
              <div class="d-flex no-block align-items-center p-10">
                <span
                  class="
                    btn btn-info btn-circle
                    d-flex
                    align-items-center
                    justify-content-center
                  "
                  ><i class="mdi mdi-settings fs-4"></i
                ></span>
                <div class="ms-2">
                  <h5 class="mb-0">Settings</h5>
                  <span class="mail-desc"
                    >You can customize this template</span
                  >
                </div>
              </div>
            </a>
            <!-- Message -->
            <a href="javascript:void(0)" class="link border-top">
              <div class="d-flex no-block align-items-center p-10">
                <span
                  class="
                    btn btn-primary btn-circle
                    d-flex
                    align-items-center
                    justify-content-center
                  "
                  ><i class="mdi mdi-account fs-4"></i>
                </span>
                <div class="ms-2">
                  <h5 class="mb-0">Pavan kumar</h5>
                  <span class="mail-desc">Just see the my admin!</span>
                </div>
              </div>
            </a>
            <!-- Message -->
            <a href="javascript:void(0)" class="link border-top">
              <div class="d-flex no-block align-items-center p-10">
                <span
                  class="
                    btn btn-danger btn-circle
                    d-flex
                    align-items-center
                    justify-content-center
                  "
                  ><i class="mdi mdi-link fs-4"></i>
                </span>
                <div class="ms-2">
                  <h5 class="mb-0">Luanch Admin</h5>
                  <span class="mail-desc">Just see the my new admin!</span>
                  <div class="badge rounded-pill bg-success">unread</div>
                </div>
              </div>
            </a>
          </div>
        </li>
      </ul>
    </ul>
</li>