{% extends 'main.html' %} 
{% load i18n static %}
{% block header %}
{% load crispy_forms_tags %}
    
{% endblock header %} 
    
{% block content %}


<div class="page-breadcrumb">
      <div class="row">
        <div class="col-10 d-flex no-block align-items-center">
          <h4 class="page-title">{{user.username}} Profile</h4>
          <div class="ms-auto text-end">
            <nav aria-label="breadcrumb">
              <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="#">Profile</a></li>
                <li class="breadcrumb-item active" aria-current="page">
                  Profile
                </li>
              </ol>
            </nav>
          </div>
        </div>

        <div class="col-2  align-right">
            <a type="button" class="btn btn-sm btn-secondary" href="{% url 'update-profile' user.id %}">
                <i class="mdi mdi-plus fs-4"></i>Update
            </a>
        </div>
      </div>
    </div>
    <!-- ============================================================== -->
    <!-- End Bread crumb and right sidebar toggle -->
    <!-- ============================================================== -->
    <!-- ============================================================== -->
    <!-- Container fluid  -->
    <!-- ============================================================== -->
    <div class="container-fluid">

        <div class="row">
            <div class="col-md-12">
              <div class="card">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLabel">Change Password</h5>
                  <!-- <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button> -->
              </div>
              <div class="modal-body">
                  <form id="changePasswordForm" name="" method="POST" >
                      {% csrf_token %}

                      <div class="form-group row">
                          <label for="password" class="col-sm-3 text-end control-label col-form-label">Old Password</label>
                          <div class="col-sm-6">
                            <input type="text" class="form-control" name="old_password" id="old_password" placeholder="" />
                          </div>
                      </div>
                      <div class="form-group row">
                          <label for="password" class="col-sm-3 text-end control-label col-form-label">New Password</label>
                          <div class="col-sm-6">
                              <input type="password" class="form-control" name="new_password1" id="new_password1" placeholder="" />
                              <div class="invalid-feedback"></div>
                          </div>
                      </div>
                      <div class="form-group row">
                        <label for="password" class="col-sm-3 text-end control-label col-form-label">New Password Confirmation</label>
                        <div class="col-sm-6">
                            <input type="password" class="form-control" name="new_password2" id="new_password2" placeholder="" />
                            <div class="invalid-feedback"></div>
                        </div>
                    </div>
                    
                  </form>    
                  <div class="form-group row">
                    <label class="col-sm-3 text-end control-label col-form-label">&nbsp;</label>
                    <div class="col-sm-6">
                        <div class="error"></div>
                    </div>
                    <div class="col-sm-6">
                      <div class="text-danger">{{form.errors}}</div>
                      <div class="text-danger">{{form.success}}</div>
                    </div>
                  </div>
              </div>
              <div class="modal-footer">
                  <!-- <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button> -->
                  <button type="button" id="changePassword" class="btn btn-primary">Change Password</button>
              </div>
              </div>
            </div>
        </div>
          

    </div>
    



{% endblock content %} 



{% block footerjs %}

    {#% include "footerjs_extension.html" %#}
    

<script>
  
  
      $('#changePassword').click(function(){
        let old_password = $('#old_password').val();
        let new_password1 = $('#new_password1').val();
        let new_password2 = $('#new_password2').val();
        // let email = $('#email').val();
        let csrfmiddlewaretoken = $('input[name="csrfmiddlewaretoken"]').val();

        if(new_password1 == '' || new_password2 == ''){
          $('.error').addClass('text-danger')
          $('.error').html('Passwords cannot be empty!')
          return false
        }
        else if(new_password1 != new_password2){
          $('.error').addClass('text-danger')
          $('.error').html('Passwords not the same!')
          return false
        }else{
          $('.error').removeClass('text-danger')
          $('.error').html('')
          changePasswordForm.submit()
        }
       


        $.ajax({
            type: "POST",
            url: "{% url 'change-password' %}",
            data: {
                csrfmiddlewaretoken: csrfmiddlewaretoken,
                pssword1: pssword1,
                pssword2: pssword2,
                email: email,
            },
            datatype: 'json',
            dataSrc: "",

            success:function(response) {
                // console.log(response);
                if (response['success']){
                    $('#pssword1').val('');
                    $('#pssword2').val('');
                    $('.error').addClass('text-success')
                    $('.error').html('Password changed successfully'); 
                    tryc("success", "Password changed successfully !");
                }else{
                    tryc("error", "Password change failed!");
                }
                
            },
            onerror:function(){
                
                tryc("error", "User creation failed!");
            }
        });



      });

$(document).ready(function() {

  $('small #hint_id_new_password1').text('');





});

</script>
{% endblock footerjs %}
