{% load static %}
{% load crispy_forms_tags %}
<!DOCTYPE html>
<html dir="ltr">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <!-- Tell the browser to be responsive to screen width -->
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta
      name="keywords"
      content=""
    />
    <meta
      name="description"
      content=""
    />
    <meta name="robots" content="noindex,nofollow" />
    <title>Matrix Admin Lite Free Versions Template by WrapPixel</title>
    <!-- Favicon icon -->
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="{% static 'assets/images/favicon.png' %}"
    />
    <!-- Custom CSS -->
    <link href="{% static 'dist/css/style.min.css' %}" rel="stylesheet" />
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js' %}"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js' %}"></script>
    <![endif]-->
  </head>

  <body>
    <div class="main-wrapper">
      <!-- ============================================================== -->
      <!-- Preloader - style you can find in spinners.css -->
      <!-- ============================================================== -->
      <div class="preloader">
        <div class="lds-ripple">
          <div class="lds-pos"></div>
          <div class="lds-pos"></div>
        </div>
      </div>
      <!-- ============================================================== -->
      <!-- Preloader - style you can find in spinners.css -->
      <!-- ============================================================== -->
      <!-- ============================================================== -->
      <!-- Login box.scss -->
      <!-- ============================================================== -->
      <div
        class="
          auth-wrapper
          d-flex
          no-block
          justify-content-center
          align-items-center
          bg-dark
        "
      >
        <div class="auth-box bg-dark border-top border-secondary">


          <div id="loginform">
            <div class="text-center pt-3 pb-3">
              <span class="db"
                ><img src="{% static 'assets/images/logo.png' %}" alt="logo"
              /></span>
            </div>
            <div class="text-center pt-3 pb-3">
                <span class="text-white">
                    Kindly Update your Account to proceed!
                </span>
            </div>

            <!-- Form -->
            <form class="form-horizontal mt-3" id="loginform" action="" method="POST">
            {% csrf_token %}
              <div class="row pb-4">
                <div class="col-12">
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span
                            class="input-group-text bg-warning text-white h-100"
                            id="basic-addon2"
                            ><i class="mdi mdi-lock fs-4"></i
                            ></span>
                        </div>
                        <span type="text" class="form-control form-control-lg"
                            name="email" placeholder=""
                            aria-label="email" aria-describedby="basic-addon1"
                        >
                            {{ user.email }}
                      </span> 
   
                    </div>

                    <div class="input-group mb-3">
                      <div class="input-group-prepend">
                          <span
                          class="input-group-text bg-warning text-white h-100"
                          id="basic-addon2"
                          ><i class="mdi mdi-lock fs-4"></i
                          ></span>
                      </div>
                      <input type="text" class="form-control form-control-lg"
                          name="id" placeholder=""
                          aria-label="email" aria-describedby="basic-addon1"
                          required="" readonly
                          value="{{ user.id }}"
                      /> 
 
                  </div>

                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                        <span
                            class="input-group-text bg-success text-white h-100"
                            id="basic-addon1"
                            ><i class="fas fa-user fs-4"></i
                        ></span>
                        </div>
                        <input type="text" class="form-control form-control-lg"
                        name="first_name" placeholder="First Name"
                        aria-label="first_name" aria-describedby="basic-addon1"
                        required
                        />
                    </div>
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                        <span
                            class="input-group-text bg-success text-white h-100"
                            id="basic-addon1"
                            ><i class="fas fa-user fs-4"></i
                        ></span>
                        </div>
                        <input type="text" class="form-control form-control-lg"
                        name="last_name" placeholder="Last Name"
                        aria-label="last_name" aria-describedby="basic-addon1"
                        required
                        />
                    </div>

                   
                    <!-- <div class="input-group mb-3">
                      <div class="input-group-prepend">
                      <span
                          class="input-group-text bg-success text-white h-100"
                          id="basic-addon1"
                          ><i class="fas fa-key fs-4"></i
                      ></span>
                      </div>
                      <input type="password" class="form-control form-control-lg"
                      name="password" id="password1" placeholder="Password"
                      aria-label="password" aria-describedby="basic-addon1"
                      required
                      />
                    </div>
                  <div class="input-group mb-3">
                    <div class="input-group-prepend">
                    <span
                        class="input-group-text bg-success text-white h-100"
                        id="basic-addon1"
                        ><i class="fas fa-key fs-4"></i
                    ></span>
                    </div>
                    <input type="password" class="form-control form-control-lg"
                    name="password2" id="password2" placeholder="Repeat password"
                    aria-label="password2" aria-describedby="basic-addon1"
                    required
                    />
                  </div> -->

                </div>
              </div>
              {% if error %}
              <div class="form-group">
                  <div class="custom-control custom-checkbox small">
                      <label style="color:red" >{{ error }}</label>
                  </div>
              </div>
              {% endif %}
              <div class="error text-white"></div>
              <div class="row border-top border-secondary">
                <div class="col-12">
                  <div class="form-group">
                    <div class="pt-3">
                      <!-- <button
                        class="btn btn-info"
                        id="to-recover"
                        type="button"
                      >
                        <i class="mdi mdi-lock fs-4 me-1"></i> Lost password?
                      </button> -->
                      <button
                        class="btn btn-success float-end text-white" id="btn-Update"
                        type="submit">
                        Update!
                      </button>
                    </div>
                  </div>
                </div>
              </div>
              <div class="form-group">
                {% if messages %}
                <div class="messages text-white">
                    {% for message in messages %}
                    <span{% if message.tags %} class="{{ message.tags1 }}"{% endif %}>{{ message }}</span>
                    {% endfor %}
                </div>
                {% endif %}
                
               
            </div>
            </form>
            {{form.error}}
          </div>
          

        </div>
      </div>
      <!-- ============================================================== -->
      <!-- Login box.scss -->
      <!-- ============================================================== -->
      <!-- ============================================================== -->
      <!-- Page wrapper scss in scafholding.scss -->
      <!-- ============================================================== -->
      <!-- ============================================================== -->
      <!-- Page wrapper scss in scafholding.scss -->
      <!-- ============================================================== -->
      <!-- ============================================================== -->
      <!-- Right Sidebar -->
      <!-- ============================================================== -->
      <!-- ============================================================== -->
      <!-- Right Sidebar -->
      <!-- ============================================================== -->
    </div>
    <!-- ============================================================== -->
    <!-- All Required js -->
    <!-- ============================================================== -->
    <script src="{% static 'assets/libs/jquery/dist/jquery.min.js' %}"></script>
    <!-- Bootstrap tether Core JavaScript -->
    <script src="{% static 'assets/libs/bootstrap/dist/js/bootstrap.bundle.min.js' %}"></script>
    <!-- ============================================================== -->
    <!-- This page plugin js -->
    <!-- ============================================================== -->
    <script>
      $(".preloader").fadeOut();
      // ==============================================================
      // Login and Recover Password
      // ==============================================================
      $("#to-recover").on("click", function () {
        $("#loginform").slideUp();
        $("#recoverform").fadeIn();
      });
      $("#to-login").click(function () {
        $("#recoverform").hide();
        $("#loginform").fadeIn();
      });


    </script>
  </body>
</html>
